.code {
   white-space: pre-wrap;
   font-family: "Courier New", Courier, monospace;
   font-size:   80%;
   font-weight: bold;
   color:       red;
}

.codesample {
   margin: 10px;
   box-shadow: 10px 10px 5px #888888;
   border: 2px solid;
   border-radius: 25px;
   background-color: bisque;
   left: 20px;
   width: 60%;
   padding: 10px;
}

#a {
   font-weight: bold;
   color:       blue;
}

.mainmenu {
}

.mainmenu ul {
   list-style: none;
}

.mainmenu ul li {
   font-family: Georgia,serif,Times;
   font-size:   18px;
}

.mainmenu ul li a {
   display:          block;
   width:            500px;
   height:           28px;
   background-color: #333;
   border-left:      5px solid #222;
   border-right:     5px solid #222;
   padding-left:     10px;
   text-decoration:  none;
   color:            #bfe1f1;
}

.mainmenu ul li a:hover {
   -moz-transform:     rotate(-5deg);
   -moz-box-shadow:    10px 10px 20px #000000;
   -webkit-transform:  rotate(-5deg);
   -webkit-box-shadow: 10px 10px 20px #000000;
   transform:          rotate(-5deg);
   box-shadow:         10px 10px 20px #000000;
}

@font-face {
  font-family: 'Raw';
  src: url("/css/Raw.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; 
}

.rawfont {
  font-family: 'Raw';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

.fixedBackground {
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.centeredImage {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.footer {
   font-size: small;
   color: gray;
   float: right;
   text-align: right;
}

div.gauge_div table {
   width: auto;
   display: block;
   margin: 0 auto !important;
}

.blockcenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
}

